body {
    font-family: "Monospaced", sans-serif;
    margin: 0;
    background-color: #121212;
    color: #E0E0E0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

table,
tr,
td,
th {
    border-collapse: collapse;
}

td,
th {
    padding: 16px;
}

th {
    background-color: #444444;
    border: 1px solid #888888;
    color: #E0E0E0;
}

tr:nth-child(even) {
    background: #B0B0B0;
    color: #2C2C2C;
}

tr:nth-child(odd) {
    background: #E4E4E4;
    color: #2C2C2C;
}

.input-container {
    margin-top: 10px;
}

input {
    margin: 3px;
    padding: 7px;
}

#taskDeadline {
    margin-top: 10px;
}

button {
    border: 0;
    border-bottom: 1px solid #444444;
    border-radius: 3px;
    padding: 9px;
    margin-right: 3px;
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    transform: translateY(-2px);
}

.btn-submit {
    background-color: #444444;
    color: #E0E0E0;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid #888888;
    padding: 15px;
    width: 160px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 600ms;
    font-size: 15px;
}

.btn-submit:hover {
    background-color: #2C2C2C;
    transform: translateY(2px);
}